body {
    overflow: hidden;
    height: 100vh;
}
.centered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
#streetview {
    height: 70vh;
    width: 55vw;
}
#satellite {
    height: 70vh;
    width: 35vw;
}
